

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General */
body {
  padding-top: 0px;
  padding-bottom: 0;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
}
h1,h2,h3 {
  font-family: 'Ledger', serif;
  text-align: center;
}

/* Nav */
.navbar {
  background: rgba(0,0,0,.8);
  border-radius: 0;
}
a.navbar-brand {
  padding: 10px;
}
.navbar-nav {
  float: right;
}
.navbar-nav>li, .navbar-nav>li:hover,
.navbar-nav>li>a, .navbar-nav>li>a:hover{
  background: transparent;
}
.navbar-nav>li>a {
  color: #b8b8b8;
}
.navbar-nav>li>a:hover {
  color: #ff613d;
}
.navbar-toggle {
  background: #000;
  margin-top: 10px;
  border: 1px solid #CCC;
}
.navbar-toggle .icon-bar {
  background: #fff;
}
.navbar-collapse.collapsing ul, .navbar-collapse.collapse.in ul {
  float: none;
}

/* Hero */
.page-hero {
  background: url("../img/HeroPicture2.jpg") no-repeat scroll center center transparent;
  background-size: cover;
  min-height: 620px;
  margin-bottom: 0;
}

/* About */
.page-about {
  background: url("../img/AboutPicture.jpg") no-repeat scroll center center transparent;
  background-size: cover;
  padding-bottom: 70px;
}
.page-about h1 {
  color: #fff;
  font-size: 30px;
  margin: 80px 0 30px;
}
.page-about p {
  color: #9b9b9b;
  font-size: 22px;
  text-align: center;
  margin-bottom: 30px;
}
.page-about a {
  color: #ff613d;
}

/* Gallery */
.page-gallery {
  background: #e7e7e7;
  padding-bottom: 60px;
}
.page-gallery h1 {
  color: #1b1c1e;
  margin-top: 50px;
}
.page-gallery p {
  color: #3e3e3e;
  font-size: 22px;
  text-align: center;
}
.page-gallery header {
  margin-bottom: 50px;
}
.page-gallery .item  {
  width: 20%;
  background: #FFF;
  cursor: pointer;
}
.page-gallery .item.t {
  width: 15%;
}
.page-gallery .item.s {
  width: 20%;
}
.page-gallery .item.w {
  width: 25%;
}
.page-gallery .item img {
  max-width: 100%;
  opacity: .5;
  transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
}
.page-gallery .item img:hover {
  opacity: 1;
}
.page-gallery .pop {
  visibility: hidden;
  position: fixed;
  top: -1000px;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99999999;
  opacity: 1;
  padding: 20px;
  background: #384148;
  text-align: center;
  background-size: cover;
}
.page-gallery .pop .close {
  color: #555;
  opacity: .4;
  font-size: 30px;
  text-shadow: 0 0 transparent;
  font-family: helvetica-light;
  font-weight: normal;
  border: 1px solid #FFF;
  margin: 0;
  padding: 0;
  line-height: 23px;
  display: inline-block;
  height: 30px;
  width: 30px;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #FFF;
  border-radius: 3px;
}
.page-gallery .pop .close:hover {
  opacity: 1;
}
.page-gallery .item .pop img {
  opacity: 1;
  max-height: 100%;
  max-width: 100%;
  border-radius: 3px;
}
.page-gallery .active {
  visibility: visible;
}

/* Store */
.page-store {
  background: url("../img/StoreBG.jpg") no-repeat scroll center center transparent;
  background-size: cover;
  padding-bottom: 80px;
}
.page-store h1 {
  color: #fff;
  margin-top: 60px;
}
.page-store p {
  color: #9b9b9b;
  font-size: 22px;
  text-align: center;
  margin-bottom: 40px;
}
.page-store a {
  color: #ff613d;
  text-align: center;
  display: block;
  margin-bottom: 20px;
}
.page-store .wrap img {
  opacity: 0.3;
  transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
}
.page-store .wrap img:hover {
  opacity: 1;
}

/* Contact */
.page-contact {
  background: url("../img/ContactBG.jpg") no-repeat scroll center center transparent;
  background-size: cover;
  padding-bottom: 0px;
}
.page-contact h1 {
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 10px;
}
.page-contact h2 {
  color: #EEE;
  font-family: helvetica-light;
  font-size: 22px;
  line-height: 28px;
  margin-top: 10px;
  margin-bottom: 40px;
}
.page-contact h3 {
  color: #ff613d;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 2px;
}
.page-contact p {
  color: #fff;
  text-align: center;
  font-size: 22px;
  margin-bottom: 0px;
}
.page-contact hr {
  margin: 120px 0;
  border: medium none;
}
.page-contact span {
  color: #fff;
  text-align: center;
  display: block;
  font-size: 22px;
  line-height: 80px;
}
.page-contact span a {
  margin-left: 10px;
  background: url(../img/InstagramIcon.png) no-repeat scroll 0px 12px transparent;
  width: 61px;
  height: 74px;
  display: inline-block;
}
.page-contact span a:hover {
  margin-left: 10px;
  background: url(../img/InstagramIcon_downState.png) no-repeat scroll 0px 12px transparent;
  width: 61px;
  height: 74px;
  display: inline-block;
}
.page-contact h2 a {
  color: #ff613d;
}
.page-contact h2 a:hover {
  color: #ff613d;
}
footer {
  margin-bottom: 50px;
}

.pop {
  transition: all 0.3s;
  border-radius: 3px;
  border: 2px solid #000;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 768px){

  footer {
    margin-bottom: 100px;
  }

}
