

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General */
body {
  padding-top: 0px;
  padding-bottom: 0;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
}

/* Gallery */
.item { width: 25%; }
.item.w2 { width: 50%; }

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 768px){

}
